// Variables
:root{
    /* Fonts */
    --titleFont: 'Montserrat', sans-serif;
    --baseFont: 'Hind', sans-serif;
    
    /* Colors */
    --white: #e7e8e7;
    --accentGreen: #37b45d;
    --brandGreen: #81c687;
    --accentBlue: #8c99aa;
    --darkBlue: #373849;
    --overlay: #3d3d3d7b;
    
    /* Font Sizes */
    --headingFontSize: 4.236rem;
    --subHeadingFontSize: 2.618rem;
    --lgBodyFontSz: 1.2rem;
    --bodyFontSize: 1rem;  

/* Light Theme */
  --bgColor: var(--white);
  --bgColorDark: var(--accentBlue);
  --primeTextColor: var(--darkBlue);
  --secText: var(--darkBlue);
  --formText: var(--darkBlue);
  --formHover: var(--accentBlue);
  --formActive: var(--brandGreen);
  --darkLink: var(--accentBlue);
  --pokeJack: rgb(198, 62, 78);
  --stockMyFridgeWhite: rgba(239, 239, 239, 0.887);
  --stockMyFridgeGreen: rgb(64, 141, 9);
  --randomQuiz: var(--accentBlue);
  --deliciousPink: rgb(64, 99, 12);
  --staticWhite: var(--white);
  --staticDarkBlue: var(--darkBlue);
  --staticBrandGreen: var(--brandGreen);
  --staticRed: rgb(255, 133, 127);
  --staticYellow: rgb(253, 219, 81); 
  --staticBlack: #3d3d3d;
}

.themeDark {
    /* Dark Theme */
    --bgColor: var(--darkBlue);
    --bgColorDark: var(--accentBlue);
    --primeTextColor: var(--white);
    --secText: var(--white);
    --formText: var(--brandGreen);
    --formHover: var(--accentGreen);
    --formActive: var(--white);
    --darkLink: var(--accentGreen);
}
  

  

// ANIMATIONS
@keyframes levitate {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-5px);
    }
}

@keyframes slightRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(10deg);
    }
}

@keyframes headRotate {
    0% {
        rotate: 0deg;
        translate: 0;
    }

    7% {
        rotate: -2.6deg;
        translate: -3px;
    }

    // start rotate
    15% {
        rotate: 0deg;
        translate: 0;
    }

    25% {
        rotate: 4.4deg;
        translate: 10px 0px;
    }

    70% {
        rotate: 4deg;
        translate: 5px 0px;
    }

    78% {
        rotate: -2.1deg;
        translate: -3px 0px;
    }

    85% {
        rotate: -2.1deg;
        translate: -3px 0px;
    }

    100% {
        rotate: -5deg;
        translate: -7px 0px;
    }
}

@keyframes armRotate {
    0% {
        rotate: 0deg;
    }

    15% {
        rotate: -1.3deg;
    }

    25% {
        rotate: 1.6deg;
    }

    30% {
        rotate: 1.1deg;
    }

    45% {
        rotate: 1.4deg;
    }

    60% {
        rotate: 0.7deg;
    }

    80% {
        rotate: 0.7deg;
    }

    85% {
        rotate: 1.5deg;
    }

    87% {
        rotate: .8deg;
    }

    92% {
        rotate: 1deg;
    }

    100% {
        rotate: .5deg;
    }
}




@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 7deg;
    }
}

@keyframes navBarLink {
    100% {
        rotate: -6deg;
        scale: 1.1;
        translate: 0 -5px;
    }
}


@keyframes navLinkAnimate {
    100% {
        rotate: 1.12deg;
        scale: 1.01;
    }
}

@keyframes menuOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menuGone {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes wiggle {

    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(-2deg);
    }

    30% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    60% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}


@keyframes torontoPopUp {
    100% {
        top: -30px;
    }
}



