@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  /* Fonts */
  --titleFont: "Montserrat", sans-serif;
  --baseFont: "Hind", sans-serif;
  /* Colors */
  --white: #e7e8e7;
  --accentGreen: #37b45d;
  --brandGreen: #81c687;
  --accentBlue: #8c99aa;
  --darkBlue: #373849;
  --overlay: #3d3d3d7b;
  /* Font Sizes */
  --headingFontSize: 4.236rem;
  --subHeadingFontSize: 2.618rem;
  --lgBodyFontSz: 1.2rem;
  --bodyFontSize: 1rem;
  /* Light Theme */
  --bgColor: var(--white);
  --bgColorDark: var(--accentBlue);
  --primeTextColor: var(--darkBlue);
  --secText: var(--darkBlue);
  --formText: var(--darkBlue);
  --formHover: var(--accentBlue);
  --formActive: var(--brandGreen);
  --darkLink: var(--accentBlue);
  --pokeJack: rgb(198, 62, 78);
  --stockMyFridgeWhite: rgba(239, 239, 239, 0.887);
  --stockMyFridgeGreen: rgb(64, 141, 9);
  --randomQuiz: var(--accentBlue);
  --deliciousPink: rgb(100, 166, 4);
  --staticWhite: var(--white);
  --staticDarkBlue: var(--darkBlue);
  --staticBrandGreen: var(--brandGreen);
  --staticRed: rgb(255, 133, 127);
  --staticYellow: rgb(253, 219, 81);
  --staticBlack: #3d3d3d;
}

.themeDark {
  /* Dark Theme */
  --bgColor: var(--darkBlue);
  --bgColorDark: var(--accentBlue);
  --primeTextColor: var(--white);
  --secText: var(--white);
  --formText: var(--brandGreen);
  --formHover: var(--accentGreen);
  --formActive: var(--white);
  --darkLink: var(--accentGreen);
}

@keyframes levitate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
@keyframes slightRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(10deg);
  }
}
@keyframes headRotate {
  0% {
    rotate: 0deg;
    translate: 0;
  }
  7% {
    rotate: -2.6deg;
    translate: -3px;
  }
  15% {
    rotate: 0deg;
    translate: 0;
  }
  25% {
    rotate: 4.4deg;
    translate: 10px 0px;
  }
  70% {
    rotate: 4deg;
    translate: 5px 0px;
  }
  78% {
    rotate: -2.1deg;
    translate: -3px 0px;
  }
  85% {
    rotate: -2.1deg;
    translate: -3px 0px;
  }
  100% {
    rotate: -5deg;
    translate: -7px 0px;
  }
}
@keyframes armRotate {
  0% {
    rotate: 0deg;
  }
  15% {
    rotate: -1.3deg;
  }
  25% {
    rotate: 1.6deg;
  }
  30% {
    rotate: 1.1deg;
  }
  45% {
    rotate: 1.4deg;
  }
  60% {
    rotate: 0.7deg;
  }
  80% {
    rotate: 0.7deg;
  }
  85% {
    rotate: 1.5deg;
  }
  87% {
    rotate: 0.8deg;
  }
  92% {
    rotate: 1deg;
  }
  100% {
    rotate: 0.5deg;
  }
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 7deg;
  }
}
@keyframes navBarLink {
  100% {
    rotate: -6deg;
    scale: 1.1;
    translate: 0 -5px;
  }
}
@keyframes navLinkAnimate {
  100% {
    rotate: 1.12deg;
    scale: 1.01;
  }
}
@keyframes menuOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuGone {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes torontoPopUp {
  100% {
    top: -30px;
  }
}
.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

.fullHeight {
  min-height: 100vh;
}

.highlightBrand {
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4274509804);
}

.bold {
  font-weight: 700;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: color 0.4s ease, background-color 0.4s ease;
  background-color: var(--bgColor);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:focus-visible {
  outline: solid 2px var(--brandGreen);
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

header,
section {
  width: 100%;
  position: relative;
  transition: 0.3s ease-in-out;
}

section .fixedWrapper {
  min-height: 100vh;
  padding: 45px 0 90px 0;
  z-index: 10;
}

.bgDivider {
  position: absolute;
  bottom: -3px;
  width: 100%;
  z-index: 0;
}
.bgDivider .svgDivider {
  height: 100%;
  overflow: hidden;
  display: block;
}
.bgDivider .toAbout {
  fill: var(--accentBlue);
}
.bgDivider .toContact {
  fill: var(--accentGreen);
}
.bgDivider .toSkill {
  fill: var(--bgColor);
}

.navBtn {
  position: absolute;
  height: 90px;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.navBtn:hover .arrowContainer {
  transform: scale(1.2);
}
.navBtn:hover .navDown {
  fill: var(--accentGreen);
}
.navBtn:hover .navToTop {
  fill: var(--brandGreen);
}

.arrowContainer {
  width: 80px;
  height: 100px;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowContainer svg {
  fill: var(--brandGreen);
  transition: 0.3s ease;
  animation: levitate 1s ease-in-out infinite alternate;
}
.arrowContainer .navDown {
  fill: var(--brandGreen);
}
.arrowContainer .navToTop {
  rotate: 180deg;
  fill: var(--darkBlue);
}

footer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primeTextColor);
}

body {
  font-size: 125%;
  font-family: var(--baseFont);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  color: var(--primeTextColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}

h2 {
  margin-bottom: 50px;
  font-size: var(--subHeadingFontSize);
}

p {
  font-size: 1.2rem;
}

header .fixedWrapper {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

.navBar {
  width: 100%;
  height: 40px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navBar .brandLogo {
  width: 40px;
  aspect-ratio: 1/1;
}

.linkContainer {
  display: flex;
  gap: 20px;
  width: 80%;
}

.linkList {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.linkItem {
  transition: 0.2s ease-in-out;
}
.linkItem:hover,
.linkItem :focus-visible {
  rotate: -6deg;
  scale: 1.1;
  translate: 0 -5px;
}
.linkItem:hover a,
.linkItem :focus-visible a {
  color: var(--brandGreen);
}

.subText {
  display: block;
}

.themeToggle {
  width: 75px;
  height: 40px;
  padding: 5px;
  border-radius: 25px;
  background-color: #BBBBBB;
}
.themeToggle:hover, .themeToggle:focus-visible {
  cursor: pointer;
}

.toggleIcon {
  background-color: grey;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  transition: 0.4s ease-in-out;
}
.toggleIcon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  transition: 0.2s ease;
}
.toggleIcon.dark {
  transform: translateX(35px);
}
.toggleIcon.dark .darkIcon {
  opacity: 1;
  fill: var(--brandGreen);
}
.toggleIcon.light .lightIcon {
  opacity: 1;
  fill: orange;
}

.menuContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobileMenu {
  width: 40px;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--brandGreen);
  transition: 0.2s ease;
  display: none;
}
.mobileMenu svg {
  fill: var(--primeTextColor);
  height: 100%;
}
.mobileMenu:hover, .mobileMenu:focus-visible {
  cursor: pointer;
  background-color: var(--accentGreen);
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
  height: 100%;
}

.brandBanner {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  width: 65%;
}

.brandLogo {
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 8px;
}
.brandLogo.mini {
  height: 40px;
  aspect-ratio: 1/1;
}

.slLogo {
  fill: var(--brandGreen);
}

.slLogoSm {
  fill: var(--primeTextColor);
}

.brandText h1 {
  font-size: var(--headingFontSize);
  text-align: ceter;
}

.subText {
  font-size: var(--subHeadingFontSize);
  font-family: var(--baseFont);
}

.avatarContainer {
  background-image: url("../assets/icons/bgBlob.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  max-height: 500px;
  aspect-ratio: 400/500;
  flex-grow: 1;
}
.avatarContainer svg {
  height: 100%;
}

#head {
  transform-origin: center;
  transform-box: fill-box;
  animation: 10s headRotate infinite alternate;
}

#hairAccent {
  transform-origin: top center;
  transform-box: fill-box;
  animation: 1.5s rotate infinite alternate;
}

#rightArm {
  transform-origin: top center;
  transform-box: fill-box;
  animation: 3.5s armRotate 0.4s infinite alternate;
}

#leftArm {
  transform-origin: top center;
  transform-box: fill-box;
  animation: 2.8s armRotate infinite alternate;
}

#leftLeg {
  position: relative;
  transform-origin: top;
  transform-box: fill-box;
  transform: translateX(-2px) translateY(6px);
  animation: 1.7s rotate infinite alternate;
}

@media only screen and (max-width: 795px) {
  .heroSection {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .brandBanner,
  .avatarContainer {
    width: 100%;
  }
  .brandBanner {
    flex-grow: 0;
    margin-bottom: 20px;
  }
  .brandText h1 {
    font-size: var(--subHeadingFontSize);
  }
  .brandText .subText {
    font-size: var(--lgBodyFontSz);
  }
  .brandLogo {
    width: 100px;
  }
}
@media only screen and (max-width: 595px) {
  .navBar {
    justify-content: flex-end;
    position: relative;
  }
  .mobileMenu {
    display: block;
  }
  .brandLogo {
    display: none;
  }
  .linkContainer {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3 ease-in-out;
    opacity: 0;
    background-color: var(--bgColorDark);
    z-index: 90;
  }
  .linkContainer.openMobileNav {
    display: block;
    animation: menuOpen 0.2s 0.1s forwards;
  }
  .linkContainer.removeMobileNav {
    animation: menuGone 0.2s forwards;
  }
  .linkList {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    text-align: right;
  }
  .linkItem:hover,
  .linkItem :focus-visible {
    rotate: 6deg;
  }
  .subText {
    text-align: center;
  }
}
@media only screen and (max-width: 380px) {
  .brandText {
    text-align: center;
  }
  .brandText h1 {
    font-size: 2rem;
  }
  .brandText .subText {
    font-size: 1rem;
  }
}
.about {
  background-color: var(--accentBlue);
}
.about h2,
.about p {
  color: var(--darkBlue);
}
.about p {
  font-size: 1.5rem;
  letter-spacing: 1.7;
}
.about a:hover {
  text-decoration: underline var(--white) 2px;
}
.about .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.aboutIcon {
  display: inline-block;
}

.handWave {
  margin-left: 10px;
  animation: rotate 0.5s infinite alternate ease-in-out;
  animation-play-state: paused;
}

.aboutImg {
  width: 35%;
  min-width: 325px;
  height: fit-content;
}
.aboutImg img {
  border-radius: 10px;
}

.aboutMe,
.aboutTextContainer {
  display: flex;
  flex-direction: column;
}

.aboutMe {
  width: 60%;
  min-width: 550px;
}
.aboutMe:hover .handWave {
  animation-play-state: running;
}

.aboutTextContainer {
  flex-grow: 1;
  gap: 15px;
}

@media only screen and (max-width: 795px) {
  .aboutTextContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .aboutMe {
    width: 100%;
    min-width: auto;
  }
  .aboutImg {
    min-width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  .about h2 {
    text-align: center;
  }
}
.techStack {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.techContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.techContainer svg {
  width: 100px;
}

.techName {
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 795px) {
  .techStack {
    gap: 40px 30px;
  }
  .techContainer {
    width: 20%;
  }
  .techContainer svg {
    width: 70px;
  }
}
@media only screen and (max-width: 529px) {
  .techStack {
    justify-content: space-between;
    gap: 35px 0;
  }
  .techContainer {
    width: 28%;
  }
  .techContainer svg {
    width: 60px;
  }
  .techName {
    margin-top: 0;
    font-size: var(--bodyFontSize);
  }
}
@media only screen and (max-width: 529px) {
  .techStack {
    justify-content: space-between;
    gap: 35px 0;
  }
  .techContainer {
    width: 28%;
  }
  .techContainer svg {
    width: 55px;
  }
}
.projects article {
  margin-bottom: 80px;
}

.emailProjectList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.emailProjectList .card {
  background-color: var(--primeTextColor);
  text-align: center;
  border-radius: 10px;
  width: calc(25% - 20px);
  padding: 40px 10px;
}
.emailProjectList .imgContainer {
  position: relative;
  overflow: hidden;
}
.emailProjectList .imgContainer::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.emailProjectList img {
  position: relative;
  height: 350px;
  object-fit: cover;
  object-position: top;
  transition: rotate 0.4s ease, scale 0.4s ease;
}
.emailProjectList .text {
  padding: 20px 0 0;
}
.emailProjectList h3, .emailProjectList p, .emailProjectList a {
  color: var(--bgColor);
  transition: color 0.4s ease;
}
.emailProjectList h3 {
  margin-bottom: 15px;
}
.emailProjectList a:hover {
  color: var(--accentGreen);
}
.emailProjectList .imgContainer:hover img {
  scale: 1.1;
  rotate: 3deg;
}
.emailProjectList .imgContainer:hover::after {
  opacity: 1;
}
.emailProjectList a:hover + .text a, .emailProjectList a:hover + .text p {
  color: var(--accentGreen);
}

.projectCardList {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
}

.projectCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  min-height: 450px;
  padding: 25px;
  border-radius: 10px;
}
.projectCard h3,
.projectCard p,
.projectCard li {
  color: var(--staticDarkBlue);
}

.projectTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projectIcon {
  width: 50px;
  height: 50px;
  animation: levitate 1s alternate infinite ease-in-out;
}

.projectAbout {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 455px;
  flex-grow: 1;
}

.projectStack,
.projectLinks {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.projectStack {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.projectStackItem,
.projectLinkItem {
  gap: 10px;
  font-weight: 700;
}

.projectLinkItem {
  transition: 0.2s ease;
}
.projectLinkItem:hover {
  scale: 1.1;
}

.linkBtn {
  padding: 5px;
  border-radius: 10px;
  font-family: var(--titleFont);
  font-weight: 700;
  color: var(--staticWhite);
}

.projectFeatureList {
  list-style: none;
  padding-left: 20px;
  margin: 15px 0;
}

.featureItem {
  margin: 10px;
}
.featureItem::before {
  content: "•";
  font-size: 125%;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.projectImgContainer {
  width: 48%;
  min-width: 450px;
  max-height: 320px;
  height: fit-content;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 10px;
  align-self: center;
  filter: drop-shadow(0 0 0.75rem rgba(70, 70, 70, 0.453));
  position: relative;
  transition: 0.2s ease;
}
.projectImgContainer img {
  object-fit: cover;
  object-position: top center;
}
.projectImgContainer:hover {
  scale: 1.02;
}
.projectImgContainer:hover .projectOverlay {
  opacity: 1;
}

.projectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.193);
  opacity: 0;
  z-index: 10;
  transition: 0.3s ease;
}

.delicious {
  background-color: rgb(223, 239, 158);
}
.delicious .projectImgContainer {
  filter: drop-shadow(0 0 0.75rem rgb(100, 166, 4));
}
.delicious .projectStackItem {
  color: var(--deliciousPink);
}
.delicious .featureItem::before {
  color: var(--deliciousPink);
}
.delicious .linkBtn {
  background-color: var(--deliciousPink);
  color: #FFFFFF;
}

.randomQuiz {
  background-color: rgb(200, 183, 243);
}
.randomQuiz .projectIcon {
  animation: rotate 0.6s infinite alternate ease;
}
.randomQuiz .projectImgContainer {
  filter: drop-shadow(0 0 0.75rem rgba(44, 7, 77, 0.573));
}
.randomQuiz .linkBtn {
  background-color: var(--accentBlue);
  color: #FFFFFF;
}

.stockMyFridge {
  background-color: rgb(21, 21, 21);
}
.stockMyFridge .projectImgContainer {
  filter: drop-shadow(0 0 0.75rem rgba(80, 80, 80, 0.25));
}
.stockMyFridge h3,
.stockMyFridge p,
.stockMyFridge li {
  color: var(--stockMyFridgeWhite);
}
.stockMyFridge .projectStackItem {
  color: var(--stockMyFridgeGreen);
}
.stockMyFridge .featureItem::before {
  color: var(--stockMyFridgeGreen);
}
.stockMyFridge .linkBtn {
  background-color: var(--stockMyFridgeGreen);
  color: #FFFFFF;
}

.pokeJack {
  background-color: rgb(245, 245, 250);
}
.pokeJack .projectIcon {
  animation: wiggle 1.5s infinite;
}
.pokeJack .projectStackItem {
  color: var(--pokeJack);
}
.pokeJack .featureItem::before {
  color: rgb(198, 62, 78);
}
.pokeJack .linkBtn {
  background-color: var(--pokeJack);
  color: #FFFFFF;
}

@media only screen and (max-width: 1430px) {
  .emailProjectList {
    justify-content: center;
    gap: 40px 20px;
  }
  .emailProjectList .card {
    width: calc(50% - 20px);
    max-width: 400px;
  }
}
@media only screen and (max-width: 795px) {
  .projectCard {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .projectAbout,
  .projectImgContainer {
    width: 100%;
    min-width: auto;
  }
  .projectLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .projectLinkItem {
    flex-grow: 1;
  }
}
@media only screen and (max-width: 700px) {
  .emailProjectList .card {
    width: 100%;
    max-width: none;
  }
}
@media only screen and (max-width: 400px) {
  .projectStack {
    justify-content: center;
  }
  .projectStackItem {
    width: 40%;
    text-align: center;
  }
}
section.contact {
  background: var(--accentGreen);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.contact .wrapper {
  min-height: calc(80vh - 90px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  position: relative;
  padding-bottom: 0px;
}
section.contact .navBtn {
  position: static;
}

.contactInfo {
  width: 40%;
  min-width: 340px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.connectContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.connectContainer h2 {
  margin: 0;
}

.socialList {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  row-gap: 15px;
  column-gap: 25px;
}

.socialItem {
  width: 13.3333333333;
  min-width: none;
}

.socialLink {
  width: fit-content;
  display: flex;
  gap: 20px;
  transition: 0.2s all ease-in-out;
}
.socialLink:hover .socialContainer {
  fill: var(--brandGreen);
  scale: 1.15;
  rotate: -5deg;
  animation: levitate 0.8s 0.2s alternate infinite ease-in-out;
}

.socialContainer {
  width: 50px;
  aspect-ratio: 1/1;
  fill: var(--darkBlue);
  transition: 0.2s ease;
}

.socialHandle {
  font-family: var(titleFont);
  font-weight: 700;
  align-self: center;
  color: var(--darkBlue);
}

.contactForm {
  width: 50%;
  flex-grow: 1;
  border-radius: 8px;
  background-color: var(--bgColor);
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}

.userInfoContainer {
  display: flex;
  padding: 20px 0 10px;
}

.inputContainer {
  display: inline-block;
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
}
.inputContainer.msg {
  padding-top: 24px;
  min-height: 150px;
  flex-grow: 1;
}

.inputChild {
  width: 100%;
  background-color: var(--bgColor);
  color: var(--primeTextColor);
  border-bottom: 2px solid var(--formText);
}

.labelPlaceholder {
  position: absolute;
  left: 12px;
  top: 26px;
  transition: 0.2s ease;
  color: var(--formText);
}

.labelToTop {
  top: 5px;
  font-size: 0.75rem;
}

.contactSubmit {
  margin: 20px 10px 40px;
  border-radius: 10px;
  background-color: var(--bgColor);
  border: 2px solid var(--formText);
  color: var(--formText);
  transition: 0.15s ease;
}
.contactSubmit:hover {
  cursor: pointer;
  scale: 1.02;
  color: var(--formHover);
  border: 2px solid var(--formHover);
}
.contactSubmit:active {
  color: var(--formActive);
  border: 2px solid var(--formActive);
}

@media only screen and (max-width: 595px) {
  .userInfoContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .contact .wrapper {
    flex-direction: column;
  }
  .contactInfo,
  .contactForm {
    width: 100%;
  }
  .contactInfo {
    min-width: auto;
  }
  .socialContainer {
    width: 40px;
  }
  .socialHandle {
    font-size: 0.85rem;
  }
}
header .wrapper {
  display: flex;
}

.emailProjectContainer {
  margin-bottom: 40px;
}
.emailProjectContainer .btnContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.emailProjectContainer .btnContainer.mobile {
  display: none;
}
.emailProjectContainer button, .emailProjectContainer a {
  background-color: var(--primeTextColor);
  color: var(--bgColor);
  border-radius: 10px;
  transition: all 0.4s ease;
}
.emailProjectContainer button:hover, .emailProjectContainer a:hover {
  background-color: var(--brandGreen);
  scale: 120%;
}
.emailProjectContainer button:active, .emailProjectContainer a:active {
  background-color: var(--accentGreen);
}
.emailProjectContainer a {
  padding: 10px;
}

.emailProject {
  margin: 20px auto;
  padding: 60px 10px;
  border-radius: 15px;
  background-color: var(--primeTextColor);
  position: relative;
  z-index: 10;
  width: 100%;
  height: 75vh;
  transition: 0.8s ease-in-out;
}
.emailProject .decal {
  position: absolute;
  top: 25px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  border-radius: 50vw;
  border: 2px solid var(--bgColor);
  transition: all ease-in-out 0.7s;
}
.emailProject .decalOne {
  left: 20px;
  background-color: var(--staticRed);
}
.emailProject .decalTwo {
  left: 45px;
  background-color: var(--staticYellow);
}
.emailProject .decalThree {
  left: 70px;
  background-color: var(--accentBlue);
}
.emailProject.mobile {
  width: 380px;
  height: 600px;
}
.emailProject.mobile .decalOne, .emailProject.mobile .decalTwo {
  background-color: transparent;
}
.emailProject.mobile .decalOne {
  width: 80px;
  left: 50%;
}
.emailProject.mobile .decalTwo {
  left: calc(50% + 60px);
}
.emailProject.mobile .decalThree {
  opacity: 0;
}

.loadingScreen {
  position: absolute;
  z-index: 0;
  top: 60px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--staticBlack);
  transition: opacity 0.4s ease-in-out;
}
.loadingScreen.loaded {
  opacity: 0;
}
.loadingScreen.interactive {
  z-index: -1;
}

.loadingSpinner {
  color: var(--white);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loadingSpinner div {
  transform-origin: 40px 40px;
  animation: loadSpin 1.2s linear infinite;
}
.loadingSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.loadingSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loadingSpinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loadingSpinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loadingSpinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loadingSpinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loadingSpinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loadingSpinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loadingSpinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loadingSpinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loadingSpinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loadingSpinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loadingSpinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes loadSpin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 600px) {
  .emailProjectContainer .wrapper {
    width: 100%;
  }
  .emailProject {
    width: 95%;
    height: 600px;
  }
  .emailProject .decalOne, .emailProject .decalTwo {
    background-color: transparent;
  }
  .emailProject .decalOne {
    width: 80px;
    left: 50%;
  }
  .emailProject .decalTwo {
    left: calc(50% + 60px);
  }
  .emailProject .decalThree {
    opacity: 0;
  }
  .emailProject.desktop {
    width: 95%;
  }
  .emailProject.mobile {
    width: 70%;
  }
}
@media only screen and (max-width: 400px) {
  .emailProjectContainer .btnContainer {
    gap: 20px;
    font-size: var(--bodyFontSize);
  }
  .emailProjectContainer .btnContainer.desktop {
    display: none;
  }
  .emailProjectContainer .btnContainer.mobile {
    display: flex;
  }
  .decal {
    display: none;
  }
  .emailProject {
    padding: 0;
    height: 75vh;
  }
  .emailProject.mobile {
    width: 100%;
  }
  .loadingScreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
