@use './variables' as *;
@use './themes' as *;

// GENERAL SECTION FORMAT
section.contact {
    background: $accentGreen;

    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}

// CONTACT TEXT
.contactInfo {
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.socialList {
    display: flex;
    margin: 20px 0;
    gap: 20px
}

.socialContainer {
    fill: $darkBlue;

    transition: 0.2s ease;

    &:hover {
        fill: $brandGreen;
        scale: 1.15;
        rotate: -5deg;
        animation: levitate 0.8s alternate infinite ease-in-out;
    }
}


// CONTACT FORM
.contactForm {
    width: 50%;
    height: 100%;
    min-height: fit-content;
    border-radius: 8px;

    @include themed() {
        background-color: t(bgColor);
    }

    padding: 0px 15px;

    display: flex;
    flex-direction: column;
}

.userInfoContainer {
    display: flex;
    padding: 20px 0 10px;

}

// INPUTS/LABELS
.inputContainer {
    // label placeholder - input relationship
    display: inline-block;
    position: relative;

    // flex format: input to bottom
    display: flex;
    align-items: flex-end;
    // temp dimensions
    width: 100%;
    height: 60px;

    // temp stlying
    border-radius: 8px;
    padding: 10px;
    // background-color: $white;

    &.msg {
        padding-top: 24px;
        min-height: 150px;
        flex-grow: 1;
    }
}

.inputChild {
    width: 100%;

    @include themed() {
        background-color: t(bgColor);
    }

    border-bottom: 2px solid $brandGreen;

    @include themed() {
        color: t(primeTextColor);
    }

    // &.msg {
    //     min-height: 150px;
    //     flex-grow: 1;
    // }

}

.labelPlaceholder {
    // linked to parent
    position: absolute;
    //current position
    left: 12px;
    top: 26px;
    // animation
    transition: 0.2s ease;
    color: $accentGreen;
}

// SUBMIT BUTTON
.contactSubmit {
    margin: 20px 10px 40px;
    border-radius: 10px;
    border: 2px solid $brandGreen;
    color: $brandGreen;

    @include themed() {
        background-color: t(bgColor);
    }

    transition: 0.5s ease;

    &:hover {
        cursor: pointer;

        @include themed() {
            color: t(primeTextColor);
            border: 2px solid t(primeTextColor);
        }

    }
}

.labelToTop {
    top: 5px;
    font-size: .75rem;
}