@use './variables' as *;
@use './themes' as *;

html {
    // 1 rem =  20px standard!
    font-size: 125%;
    // scroll animation
    scroll-behavior: smooth;
    font-family: $baseFont;
}

// STRIP STYLES
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;

    @include themed() {
        color: t(primeTextColor);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 10px;
}

.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

// IMG/SVG CONTAINERS
img {
    display: block;
    width: 100%;
}

svg {
    display: block;
    width: 100%;
}


figure {
    margin: 0;
    padding: 0;
}

// NAVIGATION SECTION STYLES
header {
    height: 100vh;
}

section {
    min-height: 100vh;

}

header,
section {
    @include themed() {
        background-color: t(bgColor);
    }

    // links dynamic nav arrow to end of each section
    // bg border divider
    position: relative;
    //dark mode tranisition
    transition: 0.3s ease-in-out;
}




section .wrapper {
    min-height: 100vh;
    padding: 90px 0;
    z-index: 10;

}


.bgDivider {
    position: absolute;
    bottom: -3px;
    width: 100%;
    z-index: 0;

    .svgDivider {
        height: 100%;
        overflow: hidden;
        display: block;
    }

    .toAbout {
        fill: $accentBlue;
    }

    .toContact {
        fill: $accentGreen;
    }

    .toSkill {
        @include themed() {
            fill: t(bgColor);
        }
    }
}

.navBtn {
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease;

    &:hover {
        backdrop-filter: blur(5px);

        .arrowContainer {
            transform: scale(1.2);
        }

        .navDown {
            fill: $accentGreen;
        }

        .navToTop {
            fill: $brandGreen;
        }
    }
}

.arrowContainer {
    width: 80px;
    aspect-ratio: 1 / 1;
    transition: 0.2s ease;

    svg {
        fill: $brandGreen;
        transition: 0.3s ease;
        animation: levitate 1s ease-in-out infinite alternate;
    }

    .navDown {
        fill: $brandGreen;
    }

    .navToTop {
        rotate: 180deg;
        fill: $darkBlue;
    }
}

footer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include themed() {
        background-color: t(bgColor);
        color: t(primeTextColor);
    }
}