@use './variables' as *;

html {
    // 1 rem =  20px standard!
    font-size: 125%;
}

img {
    display: block;
    width: 100%;
}


.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

h1,
p,
input,
label {
    font-family: $titleFont;
}

// stripping styles
input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
    padding: 0;
}