@use './variables' as *;
@use './themes' as *;


header {
    @include themed() {
        background-color: t(bgColor);
    }
}

.subText {
    display: block;
}

// themeToggle Button
.themeToggle {
    width: 75px;
    height: 40px;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(187, 187, 187);

    &:hover {
        cursor: pointer;
    }


}

.toggleIcon {
    background-color: grey;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;

    transition: 0.4s ease-in-out;

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        transition: 0.2s ease;
    }

    &.dark {
        transform: translateX(35px);

        .darkIcon {
            opacity: 1;
            fill: rgb(79, 72, 208);
        }
    }

    &.light {
        .lightIcon {
            opacity: 1;
            fill: orange;

        }
    }

}