@use './variables' as *;
@use './themes' as *;

@media(max-width: 795px) {

    // HEADER ADJUSTMENT

    .heroSection {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .brandBanner,
    .avatarContainer {
        width: 100%;
    }

    .brandText {
        h1 {
            font-size: $subHeadingFontSize;
        }

        .subText {
            font-size: $lgBodyFontSz;
        }
    }

    .brandLogo {
        width: 100px;
    }

    // ABOUT SECTION
    .aboutTextContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }


    .aboutMe {
        width: 100%;
        min-width: auto;
    }

    .aboutImg {
        min-width: 300px;
    }

    // PROJECTS SECTION

    .projectCard {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .projectAbout,
    .projectImgContainer {
        width: 100%;
        min-width: auto;
    }

    .projectLinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .projectLinkItem {

        flex-grow: 1;
    }


}

@media(max-width: 595px) {

    // mobile menu set up
    .navBar {
        justify-content: flex-end;
        position: relative;
    }

    .mobileMenu {
        display: block;
    }

    .brandLogo {
        display: none;
    }

    .linkContainer {
        display: none;
        position: absolute;
        top: 50px;

        // test 
        right: 0px;
        // right: -35px;

        // temp dimensions        
        width: 200px;
        border-radius: 10px;

        transition: 0.3 ease-in-out;
        opacity: 0;

        @include themed () {
            background-color: t(bgColorDark);
        }

        &.openMobileNav {
            display: block;
            animation: menuOpen 0.2s .1s forwards;
        }

        &.removeMobileNav {
            animation: menuGone 0.2s forwards;
        }
    }


    .linkList {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        text-align: right;
    }

    .linkItem {

        &:hover,
        :focus-visible {
            rotate: 6deg;

        }
    }

    // heroSection
    .subText {
        text-align: center;
    }







    // form updates
    .userInfoContainer {
        flex-direction: column;
    }
}


@media (max-width:400px) {
    .projectStack {
        justify-content: center;
    }

    .projectStackItem {
        width: 40%;
    }


    // CONTACT SECTION
    .contact .wrapper {

        flex-direction: column;
    }



    // connect container
    .contactInfo,
    .contactForm {
        width: 100%;
    }

    .contactInfo {
        min-width: auto;
    }

    .socialContainer {
        width: 40px;
    }

    .socialHandle {
        font-size: 0.85rem;
    }
}

@media(max-width: 380px) {
    .brandText {
        text-align: center;

        h1 {
            font-size: 2rem;
        }

        .subText {
            font-size: 1rem;
        }
    }
}