@use './variables' as *;
@use './themes' as *;

@media(max-width: 795px) {

    // HEADER ADJUSTMENT

    .heroSection {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .brandBanner,
    .avatarContainer {
        width: 100%;
    }

    .brandText {
        h1 {
            font-size: $subHeadingFontSize;
        }

        .subText {
            font-size: $lgBodyFontSz;
        }
    }

    // ABOUT SECTION
    .aboutTextContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }


    .aboutMe {
        width: 100%;
        min-width: auto;
    }

    .aboutImg {
        min-width: 300px;
    }

    // PROJECTS SECTION

    .projectCard {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .projectAbout,
    .projectImgContainer {
        width: 100%;
        min-width: auto;
    }

    .projectLinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .projectLinkItem {

        flex-grow: 1;
    }

}

@media(max-width: 595px) {

    // mobile menu set up

    .navBar {
        justify-content: flex-end;
        position: relative;
    }

    .mobileMenu {
        display: block;
    }

    .brandLogo {
        display: none;
    }

    .linkContainer {
        position: absolute;
        top: 50px;

        // test 
        right: 0px;
        // right: -35px;

        // temp dimensions        
        width: 200px;
        border-radius: 10px;


        @include themed () {
            background-color: t(bgColorDark);
        }
    }


    .linkList {
        flex-direction: column;
        align-items: flex-end;
        margin: 20px;
        text-align: right;
    }

    .linkItem {

        &:hover,
        :focus-visible {
            rotate: 6deg;

        }
    }

    // form updates
    .userInfoContainer {
        flex-direction: column;
    }
}