@use './variables' as *;
@use './themes' as *;

.projectCardList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
}

// PROJECT CARD

.projectCard {
    // flex: article and figure
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    // dimensions
    width: 100%;
    min-height: 450px;
    padding: 25px;
    // card styles
    border-radius: 10px;

    // static text color
    h3,
    p,
    li {
        @include themed() {
            color: t(staticDarkBlue);
        }
    }
}


// PROJECT INFO SECTION

.projectTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}


.projectIcon {
    width: 50px;
    height: 50px;

    animation: levitate 1s alternate infinite ease-in-out;
}

.projectAbout {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 455px;
    flex-grow: 1;
}

// PROJECT LINKS/STACK GENERAL FORMAT
.projectStack,
.projectLinks {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}


.projectStack {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.projectStackItem,
.projectLinkItem {
    gap: 10px;
    font-weight: 700;
}


.projectLinkItem {
    transition: 0.2s ease;

    &:hover {
        scale: 1.1;
    }
}

.linkBtn {
    padding: 5px;
    border-radius: 10px;

    font-family: $titleFont;
    font-weight: 700;

    @include themed() {
        color: t(staticWhite);
    }
}

.projectFeatureList {
    //using custom bullets
    list-style: none;
    padding-left: 20px;
    margin: 15px 0;
}

.featureItem {
    margin: 10px;

    &::before {
        //code for bullet
        content: "\2022";
        font-size: 125%;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-left: -1rem;
    }
}

// PROJECT IMAGE SECTION

.projectImgContainer {
    width: 48%;
    min-width: 450px;
    max-height: 320px;
    height: fit-content;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;

    filter: drop-shadow(0 0 0.75rem rgba(70, 70, 70, 0.453));

    position: relative;

    transition: 0.2s ease;

    img {
        object-fit: cover;
        object-position: top center;
    }

    &:hover {
        scale: 1.02;

        .projectOverlay {
            opacity: 1;
        }
    }
}



.projectOverlay {
    // Overlay format
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.193);
    opacity: 0;
    z-index: 10;

    // transition
    transition: 0.3s ease;
}

// PROJECT SPECIFIC COLORS
.delicious {
    background-color: rgb(223, 239, 158);

    .projectImgContainer {
        filter: drop-shadow(0 0 0.75rem rgb(100, 166, 4));
    }

    // stackItem
    .projectStackItem {
        @include themed () {
            color: t(deliciousPink);
        }
    }

    // bullet
    .featureItem::before {
        @include themed() {
            color: t(deliciousPink);
        }
    }

    .linkBtn {
        @include themed() {
            background-color: t(deliciousPink);
        }
    }
}

.randomQuiz {
    background-color: rgb(200, 183, 243);


    .projectIcon {
        animation: rotate .6s infinite alternate ease;
    }

    .projectImgContainer {
        filter: drop-shadow(0 0 0.75rem rgba(44, 7, 77, 0.573));
    }


    .linkBtn {
        background-color: $accentBlue;
    }
}

.stockMyFridge {
    background-color: rgb(21, 21, 21);

    .projectImgContainer {
        filter: drop-shadow(0 0 0.75rem rgba(80, 80, 80, 0.25));
    }

    // all text
    h3,
    p,
    li {
        @include themed() {
            color: t(stockMyFridgeWhite);
        }
    }

    // stack items
    .projectStackItem {
        @include themed () {
            color: t(stockMyFridgeGreen);
        }
    }

    // bullets
    .featureItem::before {
        @include themed() {
            color: t(stockMyFridgeGreen);
        }
    }

    .linkBtn {
        @include themed() {
            background-color: t(stockMyFridgeGreen);
            color: t(stockMyFridgeWhite);
        }
    }
}

.pokeJack {
    background-color: rgb(245, 245, 250);

    // project animation
    .projectIcon {
        animation: wiggle 1.5s infinite;
    }

    // stack items
    .projectStackItem {
        @include themed () {
            color: t(pokeJack);
        }
    }

    // bullet items
    .featureItem::before {
        color: rgb(198, 62, 78);
    }

    .linkBtn {
        @include themed() {
            background-color: t(pokeJack);
        }
    }
}