@use './variables' as *;

section {
    display: flex;
    justify-content: center;
}

.cardDisplay {
    width: 100%;
    height: 400px;
    padding: 100px 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.card {
    height: 300px;
    width: 40px;
    transition: 0.3s ease-in-out;
    padding: 0;
    border: none;
    border-radius: 25px;
}

.activeCard {
    width: 500px;
}

.project1 {
    background-color: rgb(229, 168, 188);
}

.project2 {
    background-color: rgb(229, 226, 168);
}

.project3 {
    background-color: rgb(182, 229, 168);
}

.project4 {
    background-color: rgb(168, 210, 229);
}


// TECH STACK SECTION
.techStack {
    width: 100%;
    min-height: 400px;
    padding: 100px 0;
}

// TECH CONTAINER
.techContainer {
    // border: 2px solid red;
    width: 200px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h3 {
        text-align: center;
        margin: 0px;
    }

    &:hover,
    &:focus {

        .techIcon {
            // align-self: flex-start;
            top: 0px;
        }

        .techBox {
            bottom: 0px;
            opacity: 1;

        }
    }
}

// SVG -> SEND TO GLOBAL
svg {
    width: 100%;
}


.techIcon {
    width: 100px;
    z-index: 10;
    // position linked to container
    position: absolute;
    top: 50px;
    transition: 0.2s ease;
}

.techBox {
    background-color: rgb(182, 197, 206);
    //dimensions
    width: 200px;

    // breathing room
    padding: 5px;
    border-radius: 25px;
    // text
    text-align: center;
    position: absolute;
    margin: 0 auto;

    // pre-hover state
    opacity: 0;
    bottom: 15px;

    // animation
    transition: 0.2s ease;

}