// TEMPORARY: background color
html {
    background-color: rgb(133, 159, 184);
}

.underConstruction {
    min-height: 100vh;
    display: flex;
    flex-direction: center;
    align-items: center;

}


// TEMPORARY: content container style
.contentContainer {
    width: 800px;
    max-height: 1000px;
    background: rgb(255, 255, 255);
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.25) 100%);
    // filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.9);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.textContainer {
    text-align: center;
    color: rgb(75, 102, 126);
}

.emailForm {
    display: flex;
    justify-content: center;
}


.inputContainer {
    // dimensions
    width: 350px;
    height: 60px;
    padding: 0 20px;
    // style
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    // breathing room
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover {
        cursor: text;
    }

}

.emailNotifyLabel {
    position: absolute;
    top: 25px;
    left: 30px;

    transition: 0.2s ease;

    &:hover {
        cursor: text;
    }
}

.labelAnimate {
    top: 3px;
    font-size: .75rem;
}

.emailInput {
    width: 95%;
    margin: 0 0 10px 5px;


    // strip styles
    background-color: none;

    &:focus {}
}