@use '../../abstracts' as *;

// ABOUT SECTION
section.about {
    background-color: $accentBlue;

    h2,
    p {
        @include themed() {
            color: $darkBlue;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

}

// text stylings
.highlightBrand {
    color: $white;
    text-shadow: 2px 2px 4px #0000006d;
}

.bold {
    font-weight: 700;
}

// icon interactions
.aboutIcon {
    display: inline-block;
}

.handWave {
    margin-left: 10px;
    animation: rotate .5s infinite alternate ease-in-out;
    animation-play-state: paused;
}


.aboutImg {
    width: 35%;
    min-width: 325px;
    height: fit-content;

    img {
        border-radius: 10px;

    }
}

.aboutMe,
.aboutTextContainer {
    display: flex;
    flex-direction: column;

}

.aboutMe {
    width: 60%;
    min-width: 550px;

    &:hover {
        .handWave {
            animation-play-state: running;
        }
    }
}

.aboutTextContainer {
    flex-grow: 1;
    gap: 15px;

    // typographic edits 
    p {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}


// MEDIA QUERIES

@include responsive-style(795){
    .aboutTextContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }


    .aboutMe {
        width: 100%;
        min-width: auto;
    }

    .aboutImg {
        min-width: 300px;
    }
}