@use '../../abstracts' as *;

// ABOUT SECTION
.about {
    background-color: var(--accentBlue);

    h2,
    p {
        color: var(--darkBlue);
    }

    p{
        font-size: 1.5rem;
        letter-spacing: 1.7;
    }

    a:hover{
            text-decoration: underline var(--white) 2px;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

}



// icon interactions
.aboutIcon {
    display: inline-block;
}

.handWave {
    margin-left: 10px;
    animation: rotate .5s infinite alternate ease-in-out;
    animation-play-state: paused;
}


.aboutImg {
    width: 35%;
    min-width: 325px;
    height: fit-content;

    img {
        border-radius: 10px;

    }
}

.aboutMe,
.aboutTextContainer {
    display: flex;
    flex-direction: column;
}

.aboutMe {
    width: 60%;
    min-width: 550px;

    &:hover {
        .handWave {
            animation-play-state: running;
        }
    }
}

.aboutTextContainer {
    flex-grow: 1;
    gap: 15px;
}


// MEDIA QUERIES

@include responsiveStyle(795){
    .aboutTextContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }


    .aboutMe {
        width: 100%;
        min-width: auto;
    }

    .aboutImg {
        min-width: 300px;
    }
}

@include responsiveStyle(mobile){
    .about h2{
        text-align: center;
    }
}