@use '../../abstracts' as *;


header .fixedWrapper {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

// NAV BAR 
.navBar {
    // dimensions
    width: 100%;
    height: 40px;
    margin: 30px 0;
    // flex format: toggle to side
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .brandLogo {
        width: 40px;
        aspect-ratio: 1/1;
    }
}

.linkContainer {
    display: flex;
    gap: 20px;

    // justify-content: space-between;
    width: 80%;
}

.linkList {
    display: flex;
    width: 100%;
    gap: 20px;

    align-items: center;

}

.linkItem {

    transition: 0.2s ease-in-out;

    &:hover,
    :focus-visible {
        rotate: -6deg;
        scale: 1.1;
        translate: 0 -5px;


        a {
            color: var(--brandGreen);
        }
    }
}

.subText {
    display: block;
}

// TOGGLE THEME BUTTON
.themeToggle {
    width: 75px;
    height: 40px;
    padding: 5px;
    border-radius: 25px;

    background-color: #BBBBBB;

    &:hover,
    &:focus-visible {
        cursor: pointer;
    }


}

.toggleIcon {
    background-color: grey;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;

    transition: 0.4s ease-in-out;

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        transition: 0.2s ease;
    }

    &.dark {
        transform: translateX(35px);

        .darkIcon {
            opacity: 1;
            fill: var(--brandGreen);
        }
    }

    &.light {
        .lightIcon {
            opacity: 1;
            fill: orange;
        }
    }

}

// MOBILE MENU
.menuContainer {
    display: flex;
    align-items: center;
    gap: 10px
}

.mobileMenu {
    width: 40px;
    aspect-ratio: 1 / 1;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--brandGreen);

    svg {
        fill: var(--primeTextColor);

        height: 100%;
    }


    transition: 0.2s ease;

    &:hover,
    &:focus-visible {

        cursor: pointer;
        background-color: var(--accentGreen);
    }

    display: none;
}

// HERO SECTION
.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    height: 100%;
}

.brandBanner {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    width: 65%;
    // min-width: 600px;
}


.brandLogo {
    width: 160px;
    aspect-ratio: 1/1;
    border-radius: 8px;

    &.mini {
        height: 40px;
        aspect-ratio: 1/1;
    }
}

.slLogo {
    fill: var(--brandGreen);
}

.slLogoSm {
    fill: var(--primeTextColor);
}





.brandText {
    h1 {
        font-size: var(--headingFontSize);
        text-align: ceter;
    }


    .cta{
        display: flex;
        gap: 32px;
        margin-block: 20px;
        a{
            padding: 3px 20px;
            border: 3px solid var(--accentGreen);
            background-color: var(--accentGreen);
            color: var(--staticBlack);
            border-radius: 10px;
            font-weight: 700;

        }
        p:nth-of-type(2) a {
            background-color: transparent;
            color: var(--accentGreen);
        }
    }

}

.subText {
    font-size: var(--subHeadingFontSize);
    font-family: var(--baseFont);
}


// AVATAR SECTION
.avatarContainer {
    background-image: url('../assets/icons/bgBlob.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    max-height: 500px;
    aspect-ratio: 400 / 500;
    flex-grow: 1;

    svg {
        height: 100%;
    }
}


// avatar animations

#head {
    transform-origin: center;
    transform-box: fill-box;
    animation: 10s headRotate infinite alternate;
}

#hairAccent {
    transform-origin: top center;
    transform-box: fill-box;
    animation: 1.5s rotate infinite alternate;

}

#rightArm {
    transform-origin: top center;
    transform-box: fill-box;

    animation: 3.5s armRotate .4s infinite alternate;
}

#leftArm {
    transform-origin: top center;
    transform-box: fill-box;
    animation: 2.8s armRotate infinite alternate;
}

#leftLeg {
    // transform-origin: top center;
    position: relative;
    transform-origin: top;
    transform-box: fill-box;
    transform: translateX(-2px) translateY(6px);
    animation: 1.7s rotate infinite alternate;
}



// HEADER MEDIA QUERIES
// custom device width 795px
@include responsiveStyle(795){
        // HEADER ADJUSTMENT
        .heroSection {
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
        }
    
        .brandBanner,
        .avatarContainer {
            width: 100%;
        }
    
        .brandBanner{
            flex-grow: 0;
            margin-bottom: 20px;
        }
        .brandText {
            h1 {
                font-size: var(--subHeadingFontSize);
            }
    
            .subText, p {
                font-size: var(--lgBodyFontSz);
            }

        }
    
        .brandLogo {
            width: 100px;
        }
}

// custom device width 595px
@include responsiveStyle(595){
        // MOBILE MENU
        .navBar {
            justify-content: flex-end;
            position: relative;
        }
    
        .mobileMenu {
            display: block;
        }
    
        .brandLogo {
            display: none;
        }
    
        .linkContainer {
            display: none;
            position: absolute;
            top: 50px;
            right: 0px;
            width: 200px;
            border-radius: 10px;
            transition: 0.3 ease-in-out;
            opacity: 0;
            background-color: var(--bgColorDark);
            z-index: 90;
    
            &.openMobileNav {
                display: block;
                animation: menuOpen 0.2s .1s forwards;
            }
    
            &.removeMobileNav {
                animation: menuGone 0.2s forwards;
            }
        }
    
    
        .linkList {
            width: 100%;
            flex-direction: column;
            align-items: flex-end;
            padding: 20px;
            text-align: right;
        }
    
        .linkItem {
    
            &:hover,
            :focus-visible {
                rotate: 6deg;
    
            }
        }
    
        // heroSection
        .brandText {
            text-align: center;
        
            .cta{
                justify-content: center;
                margin-block:28px;
            }
        }
         
}

@include responsiveStyle(380){
    .brandText {
        text-align: center;

        h1 {
            font-size: 2rem;
        }

        .subText, .subText+p {
            font-size: 1rem;
        }
        .cta{
            gap:16px
        }
    }
}