@use '../../abstracts' as *;

.techStack {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.techContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    svg{
        width: 100px;
    }
}

.techName{
    margin-top: 10px;
    text-align: center;
}

// MEDIA QUERIES

@include responsiveStyle(tablet){
    .techStack{
        gap: 40px 30px;
    }
    .techContainer{
        width: 20%;
        svg{
            width: 70px;
        }
    }
}

@include responsiveStyle(529){
    .techStack{
        justify-content: space-between;
        gap: 35px 0;
    }
    .techContainer{
        width:28%;
        svg{
            width: 60px;
        }
    }
    .techName{
        margin-top: 0;
        font-size: var(--bodyFontSize);
    }
}

@include responsiveStyle(529){
    .techStack{
        justify-content: space-between;
        gap: 35px 0;
    }
    .techContainer{
        width:28%;
        svg{
            width: 55px;
        }
    }

}