@use '../../abstracts' as *;

.techStack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.techContainer {
    display: grid;
    place-items: center;
    gap: 10px;

    svg{
        width: 100px;
    }
}

.techName{
    margin-top: 10px;
    text-align: center;
}

// MEDIA QUERIES

@include responsiveStyle(tablet){
    .techStack{
        grid-template-columns: repeat(4, 1fr);
        gap: 25px 15px ;
    }
    .techContainer{
        svg{
            width: 60px;
        }
    }

    .techName{
        margin-top: 0px;
    }
}

@include responsiveStyle(579){
    .techStack{
        grid-template-columns: repeat(3, 1fr);
        gap:20px 5px ;

    }
    .techContainer{
        svg{
            width: 40%;
        }
    }

    .techName{
        font-size: var(--bodyFontSize);
    }
}

@include responsiveStyle(529){
    .techStack{
        // justify-content: space-between;
        // gap: 35px 0;
    }
    .techContainer{
        // width:28%;
        svg{
            // width: 55px;
        }
    }

}