@use '../../abstracts' as *;

.techStack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.techContainer {
    display: grid;
    place-items: center;
    gap: 10px;

    svg{
        width: 100px;
    }
}

.techName{
    margin-top: 10px;
    text-align: center;
}


// ICONS 
.wordpress svg{
    fill: var(--darkBlue);
}

.themeDark{
    .wordpress svg{
        fill: var(--white);
    }
}
// MEDIA QUERIES



@include responsiveStyle(tablet){
    .techStack{
        grid-template-columns: repeat(4, 1fr);
        gap: 25px 15px ;
    }
    .techContainer{
        svg{
            width: 60px;
        }
    }

    .techName{
        margin-top: 0px;
    }
}

@include responsiveStyle(630){
    .techStack{
        grid-template-columns: repeat(3, 1fr);
        gap: 15px ;

    }
    .techContainer{
        svg{
            width: 40%;
        }
    }

    .techName{
        font-size: var(--bodyFontSize);
    }
}

