html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 10px;
}

img {
  display: block;
  width: 100%;
}

.socialContainer {
  width: 50px;
  aspect-ratio: 1/1;
}

figure {
  margin: 0;
  padding: 0;
}

header,
section {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.navBtn:hover {
  background-color: rgba(94, 95, 179, 0.454);
}
.navBtn:hover .arrowContainer {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.arrowContainer {
  width: 50px;
  aspect-ratio: 1/1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.themeLight header {
  background-color: #CFD8DC;
}
.themeDark header {
  background-color: #222222;
}

.subText {
  display: block;
}

.themeToggle {
  width: 75px;
  height: 40px;
  padding: 5px;
  border-radius: 25px;
  background-color: rgb(187, 187, 187);
}
.themeToggle:hover {
  cursor: pointer;
}

.toggleIcon {
  background-color: grey;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.toggleIcon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.toggleIcon.dark {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}
.toggleIcon.dark .darkIcon {
  opacity: 1;
  fill: rgb(79, 72, 208);
}
.toggleIcon.light .lightIcon {
  opacity: 1;
  fill: orange;
}

.about {
  background-color: #3D405B;
}

.techStack {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.techContainer {
  width: 23%;
  min-width: 200px;
  height: 260px;
  position: relative;
}
.techContainer:hover .techIcon, .techContainer:focus .techIcon {
  top: 0px;
}
.techContainer:hover .techInfo, .techContainer:focus .techInfo {
  bottom: 0px;
  opacity: 1;
}

.techIcon {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto;
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.techIcon h3 {
  text-align: center;
}

.techInfo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(166, 166, 250);
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.projects {
  background-color: #81B29A;
}

.contact {
  background-color: peachpuff;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfo {
  width: 30%;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm {
  width: 70%;
}

.inputContainer {
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 250px;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(164, 170, 179);
}

.inputChild {
  width: 100%;
  background-color: rgb(74, 144, 248);
  border-radius: 8px;
}
.inputChild.msg {
  height: 27px;
}

.labelPlaceholder {
  position: absolute;
  left: 12px;
  top: 26px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.labelToTop {
  top: 5px;
  font-size: 0.75rem;
}