html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes levitate {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes levitate {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@-webkit-keyframes slightRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@keyframes slightRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
html {
  font-size: 125%;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}
.themeLight html {
  color: #373849;
}
.themeDark html {
  color: #F1F2F0;
}

body {
  -webkit-transition: 500ms;
  transition: 500ms;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
.themeLight h1,
.themeLight h2,
.themeLight h3,
.themeLight h4,
.themeLight h5,
.themeLight h6,
.themeLight p,
.themeLight a {
  color: #373849;
}
.themeDark h1,
.themeDark h2,
.themeDark h3,
.themeDark h4,
.themeDark h5,
.themeDark h6,
.themeDark p,
.themeDark a {
  color: #F1F2F0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 10px;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.socialContainer {
  width: 50px;
  aspect-ratio: 1/1;
}

figure {
  margin: 0;
  padding: 0;
}

header,
section {
  height: 100vh;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.themeLight header,
.themeLight section {
  background-color: #F1F2F0;
}
.themeDark header,
.themeDark section {
  background-color: #373849;
}

section .wrapper {
  height: 100%;
  padding: 60px 0;
}

.bgDivider {
  position: absolute;
  bottom: -3px;
  width: 100%;
}
.bgDivider .svgDivider {
  height: 100%;
  overflow: hidden;
  display: block;
}
.bgDivider .toAbout {
  fill: #7B8898;
}
.bgDivider .toContact {
  fill: #3ad167;
}
.themeLight .bgDivider .toSkill {
  fill: #F1F2F0;
}
.themeDark .bgDivider .toSkill {
  fill: #373849;
}

.navBtn {
  position: absolute;
  height: 90px;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.navBtn:hover {
  background-color: rgba(94, 95, 179, 0.454);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navBtn:hover .arrowContainer {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.navBtn:hover svg {
  fill: #A1EFA7;
}

.arrowContainer {
  width: 50px;
  aspect-ratio: 1/1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.arrowContainer svg {
  fill: #7B8898;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-animation: levitate 1.5s ease-in-out infinite alternate;
          animation: levitate 1.5s ease-in-out infinite alternate;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navBar {
  width: 100%;
  height: 40px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.navBar .brandLogo {
  width: 40px;
  aspect-ratio: 1/1;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 60%;
}

.linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subText {
  display: block;
}

.themeToggle {
  width: 75px;
  height: 40px;
  padding: 5px;
  border-radius: 25px;
  background-color: #BBBBBB;
}
.themeToggle:hover {
  cursor: pointer;
}

.toggleIcon {
  background-color: grey;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.toggleIcon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.toggleIcon.dark {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}
.toggleIcon.dark .darkIcon {
  opacity: 1;
  fill: #A1EFA7;
}
.toggleIcon.light .lightIcon {
  opacity: 1;
  fill: orange;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.brandBanner {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.brandLink {
  height: 100%;
  aspect-ratio: 1/1;
}

.brandLogo {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: #A1EFA7;
  border-radius: 8px;
}
.brandLogo .mini {
  height: 40px;
  aspect-ratio: 1/1;
}

.brandText h1 {
  font-size: 4.236rem;
}
.brandText .subText {
  font-size: 2.618rem;
}

.avatarContainer {
  background-image: url("../assets/icons/bgBlob.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}
.avatarContainer svg {
  height: 100%;
  width: 100%;
}

section.about {
  background-color: #7B8898;
}

.techStack {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.techContainer {
  width: 23%;
  min-width: 200px;
  height: 260px;
  position: relative;
}
.techContainer:hover .techIcon, .techContainer:focus .techIcon {
  top: 0px;
}
.techContainer:hover .techInfo, .techContainer:focus .techInfo {
  bottom: 0px;
  opacity: 1;
}

.techIcon {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto;
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.techIcon h3 {
  text-align: center;
}

.techInfo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #7B8898;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  width: 100%;
  min-height: 450px;
  padding: 25px;
  margin: 50px 0;
  border-radius: 10px;
}
.projectCard:hover .projectImgContainer img {
  -webkit-transform: scale(1.2) rotate(0deg) translate(-45px, -30px);
          transform: scale(1.2) rotate(0deg) translate(-45px, -30px);
}

.projectAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.projectStack,
.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.projectStackItem,
.projectLinkItem {
  margin: 0 10px 0 0;
}

.projectFeatureList {
  list-style-type: disc;
  padding-left: 20px;
  margin: 15px 0;
}

.featureItem {
  margin: 10px;
}

.projectImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}
.projectImgContainer img {
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.1) rotate(6.4deg);
          transform: scale(1.1) rotate(6.4deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.delicious {
  background-color: rgb(194, 250, 194);
}

.randomQuiz {
  background-color: rgb(200, 183, 243);
}

section.contact {
  background: #3ad167;
}
section.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.contactInfo {
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  gap: 20px;
}

.socialContainer {
  fill: #373849;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.socialContainer:hover {
  fill: #A1EFA7;
  scale: 1.15;
  rotate: -5deg;
  -webkit-animation: levitate 0.8s alternate infinite ease-in-out;
          animation: levitate 0.8s alternate infinite ease-in-out;
}

.contactForm {
  width: 50%;
  height: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-radius: 8px;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.themeLight .contactForm {
  background-color: #F1F2F0;
}
.themeDark .contactForm {
  background-color: #373849;
}

.userInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 10px;
}

.inputContainer {
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
}
.inputContainer.msg {
  padding-top: 24px;
  min-height: 150px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inputChild {
  width: 100%;
  border-bottom: 2px solid #A1EFA7;
}
.themeLight .inputChild {
  background-color: #F1F2F0;
}
.themeDark .inputChild {
  background-color: #373849;
}
.themeLight .inputChild {
  color: #373849;
}
.themeDark .inputChild {
  color: #F1F2F0;
}

.labelPlaceholder {
  position: absolute;
  left: 12px;
  top: 26px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #3ad167;
}

.contactSubmit {
  margin: 20px 10px 40px;
  border-radius: 10px;
  border: 2px solid #A1EFA7;
  color: #A1EFA7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.themeLight .contactSubmit {
  background-color: #F1F2F0;
}
.themeDark .contactSubmit {
  background-color: #373849;
}
.contactSubmit:hover {
  cursor: pointer;
}
.themeLight .contactSubmit:hover {
  color: #373849;
  border: 2px solid #373849;
}
.themeDark .contactSubmit:hover {
  color: #F1F2F0;
  border: 2px solid #F1F2F0;
}

.labelToTop {
  top: 5px;
  font-size: 0.75rem;
}